.header {
    width: 1000px;
    height: 80px;
    margin: 20px auto;
    border-bottom: 1px solid var(--misc-color);
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: var(--text-color);
}