:root{
  --main-color: #1D1D42;
  --secondary-color: #4E2ECF;
  --misc-color: #6FCF97;
  --text-color: #FFFFFF;

}

* {  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Nunito', sans-serif;
  background-color: var(--main-color);
}